header{
    background-color: #333;
    color: white;
    padding: 5px;
    text-align: center;
}
body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
main p{
    margin: 20px;
    font-size: 20px;
    text-align: center;
}
main img{
    display: block;
    justify-content: center;
    margin: 20px auto;
    max-width: 50%;
}
